body{
    background-color: rgb(250, 248, 245);
    text-align: center;
    margin: 0%;
}

h1{
    font-family: cursive;
   
    
}
h2{
    font-family: 'Times New Roman', Times, serif;
    
}
p{
    font-size: larger;
    width: 500px;
    margin-left: 380px;
    text-align: justify;

    }