body {
    text-align: center;
    margin: 0;
    background-color: antiquewhite;
}
h1 {
    font-family: cursive;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-size: larger;
    width: 500px;
    margin: 0 auto;
    text-align: justify;
}


body.light {
    background-color: antiquewhite;
    color: #000;
}

body.dark {
    background-color: #121212;
    color: #f5f5f5;
}

.butones {
    position: fixed;
    bottom: 20px;    
    right: 20px;     
    display: flex;
    margin-bottom: 550px;
    
}


.butones button {
    padding: 10px 16px;           
    border: none;                
    border-radius: 12px;          
    cursor: pointer;              
    font-weight: bold;          
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); 
    transition: all 0.2s ease;   
}


#dark {
    background-color: #333;
    color: #fff;
}

#light {
    background-color: #f5f5f5;
    color: #000;
}


.butones button:hover {
    transform: translateY(-4px);       
    box-shadow: 0 6px 12px rgba(0,0,0,0.25); 
}
    